@tailwind base;
@tailwind components;
@tailwind utilities;

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pacman-animation {
  width: 100vw;
  height: 100px; /* Adjust based on your needs */
  position: relative;
  overflow: hidden;
}

.pacman {
  width: 50px; /* or any size you want */
  height: auto; /* maintains aspect ratio */
  position: absolute; /* if you need it to be positioned similarly to the original Pac-Man */
  /* add any other styling you need */
}

.food {
  width: 60px;
  position: absolute;
}

@media (max-width: 600px) {
  .food {
    width: 40px;
    position: absolute;
  }
}
